.Artists {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;

  li {
    display: flex;
    align-items: center;
    width: 400px;
    background: rgba(255, 255, 255, 0.136);
    border-radius: 15px;
    border: 2px solid black;
    margin: 10px;
    transition: .5s;

    h1 {
      margin: 10px;
    }

    a, a:visited {
      text-decoration: underline;
      color: black;
    }
  }

  li:hover {
    background: rgba(255, 255, 255, 0.565);
    transition: .5s;
    transform: scale(1.05);
  }
}
